html {
  height: 100vh;
  background-color: #F5F5F5;
}

.Boards_heading {
  margin: 1rem;
}

.List-stack-and-add-list {
  display: flex;
  overflow-x: auto;
  align-items: flex-start;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.SingleList {
  margin-right: 1rem;
  flex: 0 0 20rem;
  border-radius: 3px;
}

.AddAList {
  flex: 0 0 20rem;
  padding-right: 1rem;
}

.AddAList > button {
  justify-content: flex-start;
  padding-left: 1.5rem;
}

.List-header > div {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.ArchiveList {
  padding-right: 0.4rem;
  align-items: flex-start;
  cursor: default;
}

.Update-list-name:hover {
  cursor: pointer;
}

.Card-stack {
  padding: 1rem;
}

.SingleCard:not(:last-child) {
  margin-bottom: 1rem;
}

.Card-button {
  box-shadow: 0 1px 0 rgba(9,30,66,.25);
  white-space: normal;
  height: auto;
  text-align: left;
  justify-content: left;
}

.AddACard {
  padding: 0;
}

.Card-modal-box {
  overflow: auto;
}

.Card-modal-header {
  align-items: flex-start;
  justify-content: space-between;
}

.UpdateCardName {
  margin-right: 3rem;
  flex-grow: 1;
}

.UpdateCardName > h1 {
  cursor: pointer;
  font-weight: 500;
}

.CardDescription > h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

.CardDescription > textarea.Before-editing {
  cursor: pointer;
}

.CardDescription > p.Edits-saved {
  cursor: pointer;
  overflow-wrap: break-word;
  white-space: pre-line;
}

.Card-delete-warning-text {
  text-align: center;
}